[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
pandas = "*"
requests = "*"
apyori = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
